@use 'core' as *

.timeline
	@include pretty-scrollbar

	color: $text
	height: 100%
	padding: 0 5px
	box-sizing: border-box
	display: flex
	flex-flow: column

.timelineHeader
	height: 50px
	line-height: 50px
	padding-left: 25px
	background-color: $dark
	display: flex
	justify-content: space-between

	strong
		vertical-align: middle

	&.timelineInvalid
		background-color: $dark-error

	& .icon i
		color: $white-ter

.timelineLeftHeader
	display: flex

.timelineButtons > button
	@include borderless-button(0 1.6rem)
	height: 100%

.timelineArticles
	overflow-y: scroll
	overflow-x: hidden
	flex-grow: 1
	height: 100%
	width: 500px

.timelineOptions
	background-color: $scheme-main-ter
	padding: 1rem

#timelineContainer
	@include pretty-scrollbar

	height: 100%
	overflow-x: scroll
	overflow-y: hidden
	display: flex
	flex-grow: 1

.timelineArticles.timelineMasonry
	display: flex
	flex-wrap: nowrap
	align-items: flex-start
	align-content: flex-start
	position: relative
	width: fit-content

.masonryColumn
	flex: 1 1 0
	width: 500px

.masonryColumn img
	width: 100%