@use 'core' as *
@use 'timeline' as *
@use 'article' as *
@use 'sidebar' as *
@import "bulma.sass"


@include pretty-scrollbar
.icon i
	color: $white-ter

html
	overflow-y: hidden

body
	margin: 0

#ROOT
	height: 100vh
	display: flex
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.bottomLoader
	position: relative

.bottomLoader > .loading-overlay
	height: 100px
	border-radius: 0 0 8px 8px

.slow-spin
	animation: fa-spin 6s infinite linear

.autoScrollInput
	width: 80px